.auth-box {
  max-width: 420px;
  margin: 120px auto;
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.auth-box input {
  width: 100%;
  padding: 13px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
